* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
p {
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smalldiv {
  height: 20vh;
  width: 20vw;
  background-color: pink;
}
@keyframes exampleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
